## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Using cached SQLAlchemy-1.3.9-cp311-cp311-linux_x86_64.whl
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.36
    Uninstalling SQLAlchemy-2.0.36:
      Successfully uninstalled SQLAlchemy-2.0.36
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
ipython-sql 0.5.0 requires sqlalchemy>=2.0, but you have sqlalchemy 1.3.9 which is incompatible.
jupyterhub 4.1.5 requires SQLAlchemy>=1.4, but you have sqlalchemy 1.3.9 which is incompatible.
Successfully installed sqlalchemy-1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in /opt/conda/lib/python3.11/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (8.22.2)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Using cached SQLAlchemy-2.0.36-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.7 kB)
Requirement already satisfied: sqlparse in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (0.5.1)
Requirement already satisfied: six in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.3)
Requirement already satisfied: decorator in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (3.0.42)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5.13.0 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.11/site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/conda/lib/python3.11/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.11/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Using cached SQLAlchemy-2.0.36-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.2 MB)
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed sqlalchemy-2.0.36

In [3]:
%load_ext sql

In [4]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [5]:
!pip install -q pandas

In [6]:
%sql sqlite:///my_data1.db

In [7]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [8]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[]

In [9]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [10]:
from sqlalchemy import create_engine, text

# Create an engine to connect to your SQLite database
engine = create_engine('sqlite:///my_data1.db')

# Use PRAGMA to get column information
with engine.connect() as connection:
    result = connection.execute(text("PRAGMA table_info(SPACEXTABLE);"))
    column_names = [row[1] for row in result.fetchall()]  # Accessing by index (1) for column names

# Display the column names
print(column_names)

['Date', 'Time (UTC)', 'Booster_Version', 'Launch_Site', 'Payload', 'PAYLOAD_MASS__KG_', 'Orbit', 'Customer', 'Mission_Outcome', 'Landing_Outcome']

In [11]:
from sqlalchemy import create_engine, text

# Create an engine to connect to your SQLite database
engine = create_engine('sqlite:///my_data1.db')

# Use SQLAlchemy to execute the query and fetch unique launch sites
with engine.connect() as connection:
    result = connection.execute(text("SELECT DISTINCT Launch_Site FROM SPACEXTABLE;"))
    unique_launch_sites = [row[0] for row in result.fetchall()]  # Access the first column of each row

# Display the unique launch sites
print(unique_launch_sites)

['CCAFS LC-40', 'VAFB SLC-4E', 'KSC LC-39A', 'CCAFS SLC-40']


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [12]:
with engine.connect() as connection:
    result = connection.execute(text("SELECT * FROM SPACEXTABLE WHERE Launch_Site LIKE 'CCA%' LIMIT 5;"))
    records = result.fetchall()  # Fetch all matching records

# Display the records
for record in records:
    print(record)

('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)')
('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)')
('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt')
('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')
('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [13]:
from sqlalchemy import create_engine, text

# Create an engine to connect to your SQLite database
engine = create_engine('sqlite:///my_data1.db')

# Use SQLAlchemy to execute the query and calculate total payload mass for NASA (CRS)
with engine.connect() as connection:
    result = connection.execute(text("""
        SELECT SUM(PAYLOAD_MASS__KG_) AS Total_Payload_Mass
        FROM SPACEXTABLE
        WHERE Customer LIKE '%NASA%'
    """))
    total_payload_mass = result.scalar()  # Get the single scalar result

# Display the total payload mass
print(f"Total Payload Mass carried by boosters launched by NASA (CRS): {total_payload_mass} kg")

Total Payload Mass carried by boosters launched by NASA (CRS): 107010 kg

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [14]:
with engine.connect() as connection:
    result = connection.execute(text("""
        SELECT AVG(PAYLOAD_MASS__KG_) AS Average_Payload_Mass
        FROM SPACEXTABLE
        WHERE Booster_Version LIKE '%F9 v1.1%'
    """))
    average_payload_mass = result.scalar()  # Get the single scalar result

# Display the average payload mass
print(f"Average Payload Mass carried by booster version F9 v1.1: {average_payload_mass} kg")

Average Payload Mass carried by booster version F9 v1.1: 2534.6666666666665 kg

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [15]:
with engine.connect() as connection:
    result = connection.execute(text("""
        SELECT MIN(Date) AS First_Successful_Landing_Date
        FROM SPACEXTABLE
        WHERE Landing_Outcome = 'Success'
    """))
    first_successful_landing_date = result.scalar()  # Get the single scalar result

# Display the date of the first successful landing
print("First Successful Landing Date:", first_successful_landing_date)

First Successful Landing Date: 2018-07-22

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [20]:
from sqlalchemy import create_engine, text

# Connect to the SQLite database
engine = create_engine('sqlite:///my_data1.db')

# Execute the SQL query to find successful boosters with specified payload mass
with engine.connect() as connection:
    result = connection.execute(text("""
        SELECT DISTINCT Booster_Version
        FROM SPACEXTABLE
        WHERE Landing_Outcome = 'Success'
        AND PAYLOAD_MASS__KG_ > 4000
        AND PAYLOAD_MASS__KG_ < 6000
    """))
    boosters = [row[0] for row in result]  # Access the first column (Booster_Version) using index

# Display the list of booster versions
print("Boosters with successful landings and payload mass between 4000 and 6000 kg:")
for booster in boosters:
    print(booster)

Boosters with successful landings and payload mass between 4000 and 6000 kg:
F9 B5 B1046.2
F9 B5 B1047.2
F9 B5 B1048.3
F9 B5 B1051.2
F9 B5B1060.1
F9 B5 B1058.2
F9 B5B1062.1

### Task 7




##### List the total number of successful and failure mission outcomes

In [35]:
from sqlalchemy import create_engine, text

# Create an engine to connect to your SQLite database
engine = create_engine('sqlite:///my_data1.db')

# Use SQLAlchemy to execute the query
with engine.connect() as connection:
    result = connection.execute(text("""
        SELECT Mission_Outcome, COUNT(*) AS Total
        FROM SPACEXTABLE
        GROUP BY Mission_Outcome
    """))
    
    # Initialize counters
    success_count = 0
    failure_count = 0
    
    # Extract results and categorize outcomes
    for row in result:
        outcome = row[0]
        count = row[1]
        
        if outcome == 'Success':
            success_count += count
        else:
            failure_count += count  # Counts all non-success outcomes as failures

# Display the counts of successful and failed mission outcomes
print("Total Successful Missions:", success_count)
print("Total Failed Missions:", failure_count)

Total Successful Missions: 98
Total Failed Missions: 3

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [23]:
from sqlalchemy import create_engine, text

# Create an engine to connect to your SQLite database
engine = create_engine('sqlite:///my_data1.db')

# Use SQLAlchemy to execute the query
with engine.connect() as connection:
    result = connection.execute(text("""
        SELECT Booster_Version
        FROM SPACEXTABLE
        WHERE PAYLOAD_MASS__KG_ = (
            SELECT MAX(PAYLOAD_MASS__KG_)
            FROM SPACEXTABLE
        )
    """))

    # Extract booster versions from the result
    boosters = [row[0] for row in result]  # Accessing by index since result is a tuple

# Display the booster versions that carried the maximum payload mass
print("Booster Versions that carried the maximum payload mass:")
for booster in boosters:
    print(booster)

Booster Versions that carried the maximum payload mass:
F9 B5 B1048.4
F9 B5 B1049.4
F9 B5 B1051.3
F9 B5 B1056.4
F9 B5 B1048.5
F9 B5 B1051.4
F9 B5 B1049.5
F9 B5 B1060.2
F9 B5 B1058.3
F9 B5 B1051.6
F9 B5 B1060.3
F9 B5 B1049.7

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [32]:
from sqlalchemy import create_engine, text

# Create an engine to connect to your SQLite database
engine = create_engine('sqlite:///my_data1.db')

# Use SQLAlchemy to execute the query
with engine.connect() as connection:
    result = connection.execute(text("""
        SELECT 
            CASE substr(Date, 6, 2)
                WHEN '01' THEN 'January'
                WHEN '02' THEN 'February'
                WHEN '03' THEN 'March'
                WHEN '04' THEN 'April'
                WHEN '05' THEN 'May'
                WHEN '06' THEN 'June'
                WHEN '07' THEN 'July'
                WHEN '08' THEN 'August'
                WHEN '09' THEN 'September'
                WHEN '10' THEN 'October'
                WHEN '11' THEN 'November'
                WHEN '12' THEN 'December'
            END AS Month,
            Booster_Version,
            Launch_Site
        FROM SPACEXTABLE
        WHERE Landing_Outcome != 'Success'  -- Select all outcomes that are not "Success"
        AND substr(Date, 0, 5) = '2015'      -- Filter for the year 2015
    """))

    # Extract records into a list for display
    records = [(row[0], row[1], row[2]) for row in result]  # Using index-based access since the result is a tuple

# Display the records
print("Records of Failure Landing Outcomes for 2015:")
for month, booster_version, launch_site in records:
    print(f"Month: {month}, Booster Version: {booster_version}, Launch Site: {launch_site}")

Records of Failure Landing Outcomes for 2015:
Month: January, Booster Version: F9 v1.1 B1012, Launch Site: CCAFS LC-40
Month: February, Booster Version: F9 v1.1 B1013, Launch Site: CCAFS LC-40
Month: March, Booster Version: F9 v1.1 B1014, Launch Site: CCAFS LC-40
Month: April, Booster Version: F9 v1.1 B1015, Launch Site: CCAFS LC-40
Month: April, Booster Version: F9 v1.1 B1016, Launch Site: CCAFS LC-40
Month: June, Booster Version: F9 v1.1 B1018, Launch Site: CCAFS LC-40
Month: December, Booster Version: F9 FT B1019, Launch Site: CCAFS LC-40

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [27]:
from sqlalchemy import create_engine, text

# Create an engine to connect to your SQLite database
engine = create_engine('sqlite:///my_data1.db')

# Use SQLAlchemy to execute the query
with engine.connect() as connection:
    result = connection.execute(text("""
        SELECT Landing_Outcome, COUNT(*) AS Count
        FROM SPACEXTABLE
        WHERE Date BETWEEN '2010-06-04' AND '2017-03-20'
        GROUP BY Landing_Outcome
        ORDER BY Count DESC;
    """))

    # Extract records into a list for display using tuple indices
    outcomes = [(row[0], row[1]) for row in result]  # row[0] for Landing_Outcome, row[1] for Count

# Display the ranked counts of landing outcomes
print("Ranked Landing Outcomes Count:")
for landing_outcome, count in outcomes:
    print(f"{landing_outcome}: {count}")

Ranked Landing Outcomes Count:
No attempt: 10
Success (drone ship): 5
Failure (drone ship): 5
Success (ground pad): 3
Controlled (ocean): 3
Uncontrolled (ocean): 2
Failure (parachute): 2
Precluded (drone ship): 1

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--
## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2024-07-10 | 1.1 |Anita Verma | Changed Version|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
-->

## <h3 align="center"> Â© IBM Corporation 2021. All rights reserved. <h3/>